*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: sans-serif;
}

/* header  */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
header img{
    width: 
    50px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    margin-left: 20px;
    list-style: none;
    
}
ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: white;   
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
}

ul li a:hover {
     color: white;  
}
/* header end */


/* content */
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.caption{
    width: 40%;
    color: white;
}

.caption h1{
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 40px;
}

.caption p{
    letter-spacing: 2px;
    line-height: 20px;   
    font-size: 18px;

}

.caption button{
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
}

.photo{
    width: 30%;
} 

.photo img{
    width: 180px;
}

.phons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.phons div{
    width: 20%;
    cursor: pointer;
    transition: 0.5s ease;
    margin-left: 5px;
}
.phons div:hover{
    transform: scale(1.2);
}
.phons div img{
    width: 100%;
}

/* content end */
